<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Campground</title>
<link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/5a891aa92f.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="css/index.css" >
</head>
<body>

<!--                            Navbar               -->

<nav class="navbar navbar-expand  ">
<a class="navbar-brand" href="/"><i class="fab fa-instagram" ></i>  YELPCAMP</a>
<ul class="navbar-nav">
<%if(currentUser&&currentUser._id){%>
<li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user-circle mr-1"></i> <%-currentUser.username %></a></li>
<li class="nav-item"><a class="nav-link" href="/logout">LogOut<i class="fas fa-sign-out-alt ml-1"></i></a></li>
<%}
else{%>
<li class="nav-item"><a class="nav-link" href="/register"> SIGN UP  <i class="fas fa-sign-out-alt ml-1"></i></a></li>
<li class="nav-item"><a class="nav-link" href="/login">LOG IN <i class="fas fa-sign-in-alt ml-1"></i></a></li>
<% }%>
</ul>
</nav>

<!--                section-1                  -->

    <section class="section mt-2 ">
        <%if(success&& success.length>0){%>
            <div class="alert alert-success  container  "  role="alert">
               <%=success%>
            <%}%>  </div>
            <%if(message&& message.length>0){%>
                <div class="alert alert-success  container  "  role="alert">
                   <%=message%>
                <%}%>  </div>
 
 
        


  
    <div class="section-1 container jumbotron py-2  ">

        <div class="mb-2  text-dark column-1"><i class="fas fa-camera-retro mr-1"></i>Campground</div>
        <div class="col-12 display-5  column-2">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...<span class="btn btn-link "style="font-style:normal;font-weight:700;">..To More</span>
            <div class="find">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</div>
        <hr>
     <div class="d-flex justify-content-center">  <a href="/campground/new" class="btn btn-sm btn-primary text-center d-block  rounded addcamp-btn  text-light mb-4">Add YelpCamp</a></div>
    
    </div>
</div>
</section>
    </section>

<!--                   Section-3                          -->

<section class="section-3 mx-3 mt-4">
    <div class="row m-2 ml-4" style="display:flex; flex-wrap:wrap;">
        <%campground.forEach(function(campground){%>
        <div class="col-xl-4 col-md-6  col-sm-12  mb-2 ">
            <div class="campground-container border rounded">

                    <img class="campground-image border rounded" src="data:image/<%-campground.image.contentType%>;base64, 
                    <%-campground.image.data.toString('base64')%>">

              <div class="mx-1 ">
                 <div class="campground-row-1 my-2">
                     <div class="campground-row-1-item-1">Uploaded By:-</div>
                      <div class="campground-title"><%-campground.author.username%></div>
                 </div>
                      <div class="mb-1"> 
                       
                        <form action="campground/<%-campground._id%>" method="GET">
                      <button class="btn btn-primary btn-block "> To know More</button>
                      </form>
             </div>
                
            </div>
        </div>
        </div><%})%></div>
</section>

<!--        javascript file                  -->

<script src="javascript/index.js"></script>
</body>

</html>